.main-content-bottom {
    width: 100%;
    height: 100%;
}

.main-content-top {
    height: 50px;
    pointer-events: none;
    box-shadow: 5px -3px 8px 0;
}

.contactbook{
    height: 35px;
    pointer-events: none;
    margin: 8px 10px 5px 0;
}

.contact_array{
    align-items: center;
    width: 100%;
    margin-left: 60px;
    /* justify-content: flex-start; */
}